coverage==7.6.12
exceptiongroup==1.2.2
iniconfig==2.0.0
mypy==1.15.0
mypy-extensions==1.0.0
packaging==24.2
pluggy==1.5.0
pytest==8.3.4
pytest-cov==6.0.0
ruff==0.9.9
tomli==2.2.1
typing-extensions==4.12.2
